<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout Page</title>

        <style>
            .wrapper {
                margin: 0 auto;
                padding: 10px;
            }

            body {
                background-image: url("https://shorturl.at/hDEOY");
                background-size: cover;
            }

            #plane {
                width: 200px;
                padding-top: 50px;
            }
        </style>
   
    </head>

    <body>

        <div class="wrapper">
            <header>
                <a href="screen"><img src="https://cdn-icons-png.flaticon.com/512/7893/7893979.png" id="plane"></a>
            </header>
        </div>
       
 
        <main><%- body %></main>
        
    </body>
    
</html>